.slider {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  .slider  img{
    width: 100%;
    height: 85vh;
    position: absolute;
    object-fit: cover;
  
   
  }
  .data-slider {
    width: 600px;
    min-height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    z-index: 100;
    /* display: none; */
    position: absolute;
    margin-left:100px ;
    text-align: center;
  
  }
  .data-slider h1 {
    font-size: 70px;
  }
  .data-slider h4 {
    font-size: 15px;
    text-indent: 10px;
  }
  .data-slider p {
    font-size: 15px;
    color: rgb(82, 82, 82);
  }

  .btn-shop {
    padding: 10px 35px;
    cursor: pointer;
    color: #000;
    background-color: white;
    border: 1px solid rgb(82, 82, 82);
    transition: 0.7s;
    font-size: 15px;
    border-radius: 15px;
    background-color: transparent;
    
}
.btn-shop:hover{
    box-shadow: inset -10.5em 0 0 0 rgb(82, 82, 82), inset 10.5em 0 0 0 rgb(82, 82, 82);
    transition: 0.7s;
    transform: translateY(5px);
    color: white;
}

   @media only screen and (max-width: 740px) {
    .slider {
     
    
      justify-content: center;
    
    
    }
    .data-slider {
      width: 300px;
      min-height: 350px;
      
   
      margin-left:0px ;
      text-align: center;
    
    }
    .data-slider h1 {
      font-size: 45px;
    }
    .data-slider h4 {
      font-size: 15px;
    }
    .data-slider p {
      font-size: 15px;
    }
    
}