.footer {
  width: 100%;
  background-color: #202325;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 20px 20px;
  position: relative;

}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  min-width: 250px;

}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #E32B62;

}

.footer-column p, 
.footer-column a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.footer-column a:hover,
.footer-column p:hover {
  color: #E32B62;
}

.icon {
  color: #E32B62;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  font-size: 24px;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #E32B62;
  transform: translateY(-3px);
}

/* Newsletter */
.newsletter {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #E32B62;
  outline: none;
  background-color: #2b2e2f;
  color: #fff;
  transition: border 0.3s;
}

.newsletter input:focus {
  border: 1px solid #ff5a6a;
}

.newsletter button {
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid #E32B62;
  background-color: #E32B62;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.newsletter button:hover {
  background-color: #e01f3f;
  transform: translateY(-3px);
}

/* Footer line */
.footer-line {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* لو عايز تحط نص فوق أو تحت الخط */
  gap: 10px; /* مسافة بين الخط والنص */
}

.footer-line span {
  display: block;
  height: 1px;
  background-color: #E32B62;
  width: 80%; /* عرض الخط أقل من العرض الكامل لتجميل الشكل */
  margin: 0 auto;
}

/* لو عايز تضيف نص أسفل الخط */
.footer-line p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}


/* Responsive */
@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
